 .thumbnail-1 {
    width: 300px;
    display: block;
    position: relative;
  }
  .search-box{
    margin-left: 12px;
    display: block;
  }
  .viedo-tittle{
   padding-bottom: 1px;
    display: inline-block;
    font-weight: bold;
    display:block;
    line-height: 20px;
    margin-top: 5%;
    font-size: 14px;
  }
  .author{
    line-height: 20px;
    margin-top: 12px;
    font-size: 12px;
    color: rgb(96, 96, 96);
    
  }
  .views{
    font-size: 12px;
    color: rgb(96, 96, 96);
  }
  .viedo-privew {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    position: relative;
    
  }
  
  .channel{
    width: 40px;
    display: inline;
    border-radius: 800px;
    margin-top: 12px;
   
  
  }
  .discribtion{
    display: inline-block;
    width: 200px;
   vertical-align: top;
   margin-left: 15px;
   
  }
  .viedo{
    display: inline-block;
    vertical-align: top;

  }
  .channel-info{
    display: grid;
    grid-template-columns:50px 200px  ;
    cursor: pointer;
  }
  .grid{
    display: grid;
    grid-template-columns:310px 310px 310px 310px ;
    grid-template-rows: 300px 300px 300px  ;
    column-gap: 10px;
    row-gap: 40px;
  }
    @media (max-width : 750px){
      .grid{
        grid-template-columns: 310px 310px;
      }
    }
    @media (min-width : 750px) and (max-width: 999px){
      .grid{
        grid-template-columns: 310px 310px 310px ;
      }
    }
     @media (max-width : 100px){
      .grid{
        grid-template-columns: 310px 310px;
      }
    }
  .e-2{
 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px ;
    column-gap: 10px;
    row-gap: 40px;
    display: inline-block;
    
  
  }
  .time{
    background-color: rgba(0, 0, 0, 0.789);
    align-items: center;
    vertical-align: center;
    height: 17px;
    width: 30px;
    font-family: Roboto, Arial;
    font-size: 12px;
    color: white;
    border-radius: 2px;
    position:absolute;
    bottom: 5px;
    right: 15px;
    padding: 2px 8px 0px 2px;
   text-indent: 5px;

  }
  .q{
    display: grid;
    grid-template-columns: 800px;
    width: 100%; 
    max-width: 1150px; 
    margin: 0 auto; 
    gap: 20px; 
    background-color: #f0f0f0;
    padding: 20px;
  }