
.Subscribe {
    background-color: rgb(200, 0, 0);
    border: none;
    color:white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    margin-right: 3px;
    cursor: pointer;
    transition: 0.15s;
    vertical-align: top;
  }
  .Subscribe:hover{
    opacity: 0.7;
  }
  .Subscribe:active{
    opacity: 0.4;
  }

  .Join {
    background:none;
    border-color: rgb(24, 132, 247);
    color: rgb(24, 132, 247);
    border-style: solid;
    height: 36px;
    width: 60px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.15s;
  }
  .Join:hover{
     background:rgb(24, 132, 247);
     color:white;
  }
  .Join:active{
    opacity: 0.4;
  }

  .Tweet {
    color: white;
    background-color: rgb(14, 159, 226);
    border:none;
    height: 36px;
    width: 74px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 18px;
    margin-left: 3px;
    cursor: pointer;
  }
  .Tweet:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0,0.5);
  }
  .Tweet:active{
    opacity: 0.4;
  }
